.navbar-section{
    background-color: #fc9845;
}
.nav-link{
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.hover-effect {
    position: relative;
  }
  
  .hover-effect::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ffffffcd;
    top: -3px;
    position: absolute;
    transition: all ease-in 0.3s;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
  }
  
  .hover-effect:hover::after {
    transform: scaleX(1);
    width: 90%;
  }
  
.navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-nav .nav-link:active {
    color: #fff;
  }
.navbar-nav .nav-link:focus {
    color: #fff;
   
  }
    

.login-btn{
    border: 2px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    padding-inline:50px !important;
    outline: none;
}
.login-btn:hover{
    background-color:#fff ;
    color: #030303;
}
