/* .navBar{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.navBar .nav-items a{
    text-decoration: none;
    display: block;
    color: #fff;
    border-bottom: 1px solid #eeeeee7b;
    padding-bottom: 10px;
}
#logoutBtn{
    transition: all ease-in-out 0.3s;
}
#logoutBtn:hover{
    background-color: #fff;
    color: #000;
} */


.navBar {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
  }
  
  .navBar .nav-items a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee7b;
  }
  
  .navBar .nav-items a.active {
    border-bottom: 2px solid red;
    /* Add any additional styles you want for the active item */
  }
  .nav-items-hover{
    transition: all ease-out 0.4s;
  }
  .nav-items-hover:hover{
    border-bottom: 2px solid #fff !important;
  }
  
  #logoutBtn {
    transition: all ease-in-out 0.3s;
  }
  
  #logoutBtn:hover {
    background-color: #fff;
    color: #000;
  }
  #logoutBtn button:hover{
    color: #000 !important;

  }
  