.custom-heading{
    color: #fff !important;

}

.row {
    margin-top: 20px;
  }
  
.col-md-3 {
    text-align: center;
  }
  
.progress {
    margin-top: 20px;
  }
  
.controls {
    margin-top: 20px;
    text-align: center;
  }
.prev-btn,.next-btn{
    background-color: #ffffffa2;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.6s;

}
.prev-btn:hover,.next-btn:hover{
    background-color: rgb(255, 106, 0);
    color: #fff;
}