@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f0eeee;
  
}
/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 15px;
  
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #ffffffee;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background:  rgb(102, 100, 100);
}

