.message,
.call{
    background-color: #fff;
    border-radius:10px ;
    height: 150px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    padding-right: 50;
    padding-left: 50px;
    align-items: center;
    /* background-image: url('../../../Assets/Images/Home/contact-bg.svg'); */
}
.contact-left-side{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    width: 100%;
    height: 317px;
    border-radius: 10px;
}
.call-icon,.mail-icon{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #28AE0A;
}
.message h6,
.call h6{
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000b6;
}
.message p,
.call p{
    font-weight: 500;

}

/* card */
.item-card{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #afadaddb;
    border-right: 1px solid #afadaddb;
    border-bottom: 1px solid #afadaddb;
    background-color: #ffffffa4;
    display: flex;
    flex-direction: column;

}

.contact-info{
    transition: all ease-in-out 0.3s;
}
.contact-info:hover{
    display: flex;
}
.item-card {
    position: relative;
  }
  
  .item-card:hover .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .item-image {
    position: relative;
  }
  
  .item-details {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .item-details p {
    margin: 0;
    color: #eee;
    font-weight: 800;
    font-size: 14px;
  }
  