.cleaning-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.cleaning-box{
    background-color: #FE5C00;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow-img{
    padding: 0px;
    margin: 0px;
    height: 80px;
    position: relative;
    bottom: 10px;
}
#content{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #6BAC79;
    border-radius: 15px;
}
#content h6{
    margin-left: 100px;
}