.content-card{
    background-color:#0CA91C;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content-card a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

/* announcement */
.goBack__btn{
    background-color:#0CA91C ;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.goBack__btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;

}

.addItmesCard{
    border:2px solid #0CA91C;
    margin-top: 10px;
}
.edit-delete-btn{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
}