.input-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.input-container input{
    border-radius: 20px;
    padding: 7px;
    border: 2px solid rgba(255, 166, 0, 0.608);
}
.input-container input:focus{
    outline-color: rgb(255, 128, 0);
}



