.feedbackform{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
} 
.feedbackform  .input{
    padding: 10px;
    border: 1.2px solid #FE5C00;

}
.feedbackform .submit-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FE5C00;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    outline: none !important;
    border: none !important;
}
tab-btn{
    transition: all ease-in 10s;
   
}
.tab-btn:hover{
    background-color: #FE5C00;
    color: #fff;
    cursor: pointer;

}