.coordination-card {
    width: 300px;
    background-color: #ffffff44;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .coordination-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .coordination-card-img {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100px;
    border: 2px solid #e0d4c8;
    background-color: #ed8012;
    object-fit: cover;
  }
  
  .coordination-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  