.rule-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-wrapper{
    background-color: #ffffff44;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 20px;
    transition: all linear 0.6s;
    /* border-radius: 10px; */

}
.number{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    gap: 20px;
}
.number h5{
    font-weight: 900 !important;
    color:#000 !important;
    font-size: 18px;
}