.LoginContainer{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    mix-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Asssets/about.jpg');
    z-index: 999;

}
.LoginContainer::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000056;
    z-index: -1;
}
.login-box{
    background-color: #fe5d006b;
    height: 70vh;
    border-radius: 10px;
    padding: 40px;
  
}
.input__Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;

}
.input__Container>input{
    padding: 6px;
    background-color: transparent;
    border: 2px solid #eee;
    border-radius: 10px;
    color: #000;

}
.input__Container>input::placeholder{
    color: #000;
}
.input__Container input:focus{
    background-color: #eeeeeee7;
    outline-color:#fe5000 !important;
}
.login_button{
    border: none;
    margin-top: 20px;
    padding: 7px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fe5000;
    border-radius: 20px;
}