.Heading{
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    position: relative;
    padding-left: 20px;
}
.Heading::before{
    content: '';
    height: 100%;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}