.card{
    border-radius: 0 !important;
    height: 270px;
    position: relative;
    transition: all 0.3s ease;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}
.card-body h5{
    color: #fff;
    font-weight: 900;
    font-size: 25px;
}
.card::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(25, 18, 12, 0.583);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.card:hover{
    border-radius: 0 !important;
    transform: translateY(-5px);
    box-shadow: 5px 6px  rgba(251, 127, 10, 0.918);
}