.menu-item {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .menu-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    transition: transform 0.3s;
  }
  
  .menu-item:hover .menu-image {
    transform: scale(1.1);
  }
  
  .menu-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fc9745b7;
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .menu-item:hover .menu-name {
    opacity: 1;
  }
  