.hero-heading{
    color: #ffffff;
    font-weight: 900;
    font-size: 50px;
    line-height: 90px;
    animation: forward 1s ease 0s 1 normal forwards;
}
.hero-heading__2{
    color: #ffffff;
    font-weight: 900;
    font-size: 35px;
    line-height: 55px;
    animation: forward 1s ease 0s 1 normal forwards;

}
.carousel-indicators{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100px;
}
.carousel-control{
    text-decoration: none;
    color: #00000086;
    font-size: 16px;
    background-color: rgb(249, 248, 246);
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease-in-out 0.6s;

}
.carousel-control:hover{
    color: #000000;
}

.dot{
    height: 7px !important;
    width: 10px !important;
    border: 2px solid #fdfafa !important;
    border-radius: 100px;
    background-color: rgb(247, 236, 236) !important;
}
.SliderImage{
    animation: sliderImage 1s ease-in 0s 1 normal forwards;
}

@keyframes forward {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes sliderImage {
	0% {
		opacity: 0;
		transform: rotateY(70deg);
		transform-origin: right;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: right;
	}
}