.CurrentMonthCard{
    width: 100%;
    height: 250px;
    position: relative;
    background: #1615158a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.CurrentMonthCard::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('https://drukgirl.com/wp-content/uploads/2019/09/1000ngultrum-front-min.png?661f4f&661f4f');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    
}
.CurrentMonthCard h1{
    text-align: right;
    color: #fff;
    font-weight: 900;
    font-size: 65px;
    padding-right: 20%;
    text-transform: uppercase;
}
.CurrentMonthCard h6{
    text-align: right;
    padding-right: 20%;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}