.footer {
    /* --mask: */
    /* radial-gradient(9.86px at 50% 13.50px,#000 99%,#0000 101%) calc(50% - 10px) 0/20px 100%,
    radial-gradient(9.86px at 50% -8.5px,#0000 99%,#000 101%) 50% 5px/20px 100% repeat-x; */
  /* -webkit-mask: var(--mask);
          mask: var(--mask); */
    position: relative;
    background-color: #ff8018a7;
    min-height: 100vh;
    padding-top: 10px;
    z-index: 99;
  }
  
  .footer::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://static.wixstatic.com/media/ed2757_05366315e0db4b3da386213bee17e009~mv2.png/v1/fill/w_640,h_464,al_c,q_95,enc_auto/ed2757_05366315e0db4b3da386213bee17e009~mv2.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; 
    z-index: -1;
  }
  
.footer h6{
    font-weight: 900 !important;
    font-size: 18px !important;
    color: #fff !important;
}
.footer ul{
    list-style: none;
}
.footer a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.f-credits p{
    text-align: center;
    color: #fff

}
footer a:hover,
footer a:active{
    color: #fff;
}
