.item-card{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #afadaddb;
    border-right: 1px solid #afadaddb;
    border-bottom: 1px solid #afadaddb;
    background-color: #ffffffa4;

}
.items-list{
    padding: 0;
    margin: 0;
    color: #000000c5;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}
