.hero-section{
    background-color: #fc9845;
 
}
.meal-time-section{
    margin-bottom: 100px ;
    
}
.curry-menu-section{
 
    min-height: 60vh;
    background-image: url('../../../Assets/Images/gggrain\ \(1\).svg');
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    --mask:
    radial-gradient(8.94px at 50% 12.00px,#000 99%,#0000 101%) calc(50% - 8px) 0/16px 51% repeat-x,
    radial-gradient(8.94px at 50% -8px,#0000 99%,#000 101%) 50% 4px/16px calc(51% - 4px) repeat-x,
    radial-gradient(8.94px at 50% calc(100% - 12.00px),#000 99%,#0000 101%) calc(50% - 8px) 100%/16px 51% repeat-x,
    radial-gradient(8.94px at 50% calc(100% + 8.00px),#0000 99%,#000 101%) 50% calc(100% - 4px)/16px calc(51% - 4px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.curry-menu-section .curry-menu-section-content {
    position: relative;
    z-index: 1; /* set a higher z-index value than the curry-menu-section::after */
  }
.rules-and-regulation-section{
    margin-bottom: 100px;
}
.Mess-coordination-section{
    margin-bottom: 100px;
}
